# Not ignoring these since dektec distribute some .o binaries as part of the release

# Compiled Object files
#*.slo
#*.lo
*.o
!DTAPI.o
!DTAPI64.o

# Compiled Dynamic libraries
#*.so
#*.dylib

# Compiled Static libraries
#*.lai
#*.la
#*.a
.*.cmd
.tmp_versions

*.ko
*.mod.c
modules.order
Module.symvers

# windows build target
DtPlay/DtPlay.exe

# downloaded archives
DtPlay_v*.zip
LinuxSDK_v*.tar.gz
